<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/image/star.svg" type="image/x-icon">
<!--    <link rel="shortcut icon" href="/image/star.svg" type="image/x-icon">-->
    <title>Tasks</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="task,number : ${tasks}">
                <td th:text="${task.id}"/>
                <td th:text="${task.description}" th:id="'description_' + ${task.id}"/>
                <td th:text="${task.status}" th:id="'status_' + ${task.id}"/>
            </tr>
        </tbody>
    </table>
</body>
</html>
